In [3]:
#instaling libraries
import matplotlib as mt
import pandas as pd
import numpy as np

In [4]:
#show dataset bureau_balance
df_bureau_balance = pd.read_csv("../datasets/bureau_balance.csv")
print(df_bureau_balance)

# df_bureau_balance.head()
### mostrar estatisticas do dataframe
# df_bureau_balance.describe()

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
1              5715448              -1      C
2              5715448              -2      C
3              5715448              -3      C
4              5715448              -4      C
...                ...             ...    ...
27299920       5041336             -47      X
27299921       5041336             -48      X
27299922       5041336             -49      X
27299923       5041336             -50      X
27299924       5041336             -51      X

[27299925 rows x 3 columns]

In [5]:
#show dataset bureau
df_bureau = pd.read_csv("../datasets/bureau.csv")
#print(df_bureau)
df_bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [6]:
# selecao de atributos por correlação - Spearman
print(df_bureau_balance.corr()) #pearson, kendall, spearman

                SK_ID_BUREAU  MONTHS_BALANCE
SK_ID_BUREAU        1.000000        0.011873
MONTHS_BALANCE      0.011873        1.000000

In [6]:
#join dos datasets 
df_first_join = pd.merge(df_bureau,df_bureau_balance,on='SK_ID_BUREAU', how='inner')
df_first_join.head()

# add line to save final dataframe in a dataset on /datasets/transformed/first_join
# saving the dataframe
df_first_join.to_csv("../datasets/transformed_datasets/first_join.csv")